# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

---
env:
  IMAGE_NAME: ${{ github.repository }}
  REGISTRY: ghcr.io

jobs:
  push-image:
    outputs:
      GIT_DESCRIBE: ${{ steps.git-describe.outputs.GIT_DESCRIBE }}
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - id: git-describe
        run: echo "GIT_DESCRIBE=$(git describe)" >> "$GITHUB_OUTPUT"

      - uses: docker/login-action@v3
        with:
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}

      - id: meta
        name: Extract metadata (tags, labels) for Docker
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          # yamllint disable rule:line-length
          labels: |
            org.opencontainers.image.version=${{ steps.git-describe.outputs.GIT_DESCRIBE }}
          # yamllint enable rule:line-length
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=raw,value=${{ steps.git-describe.outputs.GIT_DESCRIBE }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - id: push
        name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}

    timeout-minutes: 10

name: Build

# yamllint disable-line rule:truthy
on:
  push:
    branches: [main]
  workflow_dispatch:
